body {
  font-family: "DM Serif Display", serif;
  background-color: linear gradient (rgb(123, 184, 105), rgb(13, 87, 10));
  margin: 20px auto;
  max-width: 700px;
}
container {
  height: 20px;
  width: 240px;
  background-color: rgb(15, 228, 165);
  text-align: center;
}

h1 {
  color: rgb(32, 33, 36);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 2px solid rgb(15, 228, 165);
  padding: 20px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: rgb(15, 228, 165);
  color: #dadde1;
}
.btn-success {
  background-color: rgb(15, 228, 165);
}
.btn-primary {
  background-color: rgb(15, 228, 165);
}

.search-form {
  margin-bottom: 20px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 5px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
  font-size: 16px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.footer {
  color: #fff;
}
.forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-date {
  opacity: 0.5;
  font-size: 16px;
}

.temperature-min {
  opacity: 0.5;
}
.forecast-temperatures {
  font-size: 13px;
}
